@{
    ViewData["Title"] = "Vote";
}
@model List<VoteApplication.Services.Models.CandidateModel>
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form asp-action="Vote" method="post">

        <label for="nickname">Podaj nick</label>
        <input id="nickname" name="nickname" type="text" class="form-control" required>

        <label for="candidate">Wybierz kandydata</label>
        <select id="candidate" name="candidateId" class="form-control">
            <option value=""></option>
            @foreach (var candidate in Model)
            {
                <option title="@candidate.FullName" value="@candidate.Id">@candidate.FullName</option>
            }
        </select>
        
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <button type="submit" class="btn btn-primary">Głosuj</button>
    </form>
</div>
